{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block main %}

<h2>main</h2>

{% endblock %}


{% block nav %}
    <nav>
        <ul>




            <h2>bonjour {{ user.prenom }}</h2>
            {% if is_granted('ROLE_ADMIN') %}
                <h3>menu admin</h3>
                <li><a href="{{ path('creer_un_admin') }}">CREER UN ADMIN</a></li>
                <li><a href="#">GERER UTILISATEUR</a></li>
                <li><a href="{{ path('gerer_campus') }}">GERER LES CAMPUS</a></li>
                <li><a href="#">GERER LES VILLES</a></li>
                <li><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
                <hr>
                {% endif %}
            {% if is_granted('ROLE_USER') %}
                <h3>menu user</h3>
                <li><a href="{{ path('gerer_mon_profil_utilisateur') }}">mon profil utilisateur</a></li>
                    <li>ville</li>
                    <li>campus</li>
                    <li>accueil</li>
                    <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
                {% endif %}






        </ul>
    </nav>
{% endblock %}
