{% extends 'base.html.twig' %}

{% block title %}GESTION DES CAMPUS{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset("css/campus.css") }}">
 {% endblock %}
{% block header %}

{% endblock %}

{% block nav %}
    {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
<div id="haut"
>
    <li><a href="{{ path('sorties_list') }}">ACCUEIL</a></li>
    <li><a href="#">MON PROFIL</a></li>
    <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
</div>
    {% endif %}
{% endblock %}

{% block main %}
    <table>
    <tr>
        <th>Campus</th>
        <th>Actions</th>
    </tr>

    {% for u in allcampus %}
        <div>
            {{ loop.index }}<input type="text"  value="{{ u.nomCampus }}"><a href=" {{ path('delete_campus',{'id':u.id}) }}"> supprimer</a>


        </div>
    {% endfor %}

    </table>
    {{ form_start(CampusForm) }}
    {{ form_widget(CampusForm) }}
    <div class="centre">
    <button class="btn-grad btn-grad1" type="submit">Valider</button>
    {{ form_end(CampusForm) }}
    </div>

{% endblock %}
{% block footer %}

    <div  id="main">
        {{ parent() }}
    </div>
{% endblock %}