{% extends 'base.html.twig' %}

{% block title %}GESTION DES CAMPUS{% endblock %}

{% block header %}

{% endblock %}

{% block nav %}
    {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}

    <li><a href="{{ path('home') }}">ACCUEIL</a></li>
    <li><a href="#">MON PROFIL</a></li>
    <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
    {% endif %}
{% endblock %}

{% block main %}
    <table>
    <tr>
        <th>Campus</th>
        <th>Actions</th>
    </tr>

    {% for u in allcampus %}
        <div>
            {{ loop.index }}<input type="text"  value="{{ u.nomCampus }}"><a href=" {{ path('delete_campus',{'id':u.id}) }}"> supprimer</a>


        </div>
    {% endfor %}

    </table>
    {{ form_start(CampusForm) }}
    {{ form_widget(CampusForm) }}
    <button type="submit">Valider</button>
    {{ form_end(CampusForm) }}


{% endblock %}