{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/addsortie.css") }}">
{% endblock %}

{% block title%} {{ parent() }} | Créer une nouvelle sortie {%  endblock %}

{% block main %}
    <h2> Ajouter une sortie </h2>
<div id="centrelogin">
    {{ form_start(SortiesType) }}
    {{ form_widget(SortiesType) }}
</div>
    <div class="centre">
    <button class="btn-grad btn-grad1"> Annuler </button>
    </div>
</div>
    {{ form_end(SortiesType) }}
    <a href=" {{ path('lieu_add')}}"> Ajouter un lieu </a>

{%  endblock %}
{% block footer %}
    <div  id="main">
        {{ parent() }}
    </div>

{% endblock %}