{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/list.css") }}">
{% endblock %}

{% block title%} {{ parent() }} | Liste des sorties {%  endblock %}



{% block nav %}
    <nav>
        <ul> {% if is_granted('ROLE_ADMIN') %}
                <h3>menu admin</h3>
                <li><a href="{{ path('creer_un_admin') }}">INSCRIRE UN UTILISATEUR</a></li>
                <li><a href="{{ path('inactiver_supprimer_utilisateur') }}#">DESACTIVER/SUPPRIMER UN UTILISATEUR</a></li>

                <li><a href="{{ path('gerer_campus') }}">GERER LES CAMPUS</a></li>
                <li><a href="{{ path('gerer_ville') }}">GERER LES VILLES</a></li>
                <li><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
                <hr>
            {% endif %}
            {% if is_granted('ROLE_USER') and user.actif==1 %}
                <h3>menu user</h3>
                <li><a href="{{ path('gerer_mon_profil_utilisateur') }}">mon profil utilisateur</a></li>
                <li><a href="{{ path('image_profil') }}">ma photo de profil</a></li>
                <li>ville</li>
                <li>campus</li>
                <li><a href="{{ path('sorties_list') }}">accueil</a></li>
                <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


{% block main %}
    <h3>Date du jour: {{ today|date("d/m/Y") }}</h3>
    <h3>Participant: {{ user.prenom }}  {{ user.nom }}</h3>

    {% if user.photofilename!=null %}
    <fieldset style="width: 110px;">
    <img src="{{ asset('uploads/brochures/' ~ user.photofilename) }}" style="width: 60px; height: 90px;" alt="photo profil">
    </fieldset>
    {% else %}
    <fieldset style="width: 110px;">
    <p style="background-color: #AA3333; width: 60px; height: 90px;">ajouter votre photo</p>
    </fieldset>
    {% endif %}

    {% if user.actif==1 %}
        <p>ACTIF</p>
    {% else %}
        <p>Compte désactivé (veuillez contacter l'administrateur)</p>
    {% endif %}
    {% if user.actif==1 %}
        <h2> Filtrer les sorties </h2>

        {{ form_start(filtreForm) }}
        {{ form_widget(filtreForm)}}
        <div class="centre">
            <input class="btn-grad btn-grad1" type="submit" value="Rechercher">
        </div>
        {{ form_end(filtreForm) }}
    {% endif %}
    <h2> Les sorties </h2>
    <table border="1">
        <TR>
            <TH> Nom de la sortie </TH>
            <TH> Date  de la sortie</TH>
            <TH> Clôture </TH>
            <TH> inscrits/places </TH>
            <TH> Etat </TH>
            <th> inscrit </th>
            <th> organisateur </th>
            <th> campus </th>
            <TH> Actions </TH>
        </TR>

        {# On ajoute les filtres ! #}
        {%  for sortie in sorties %}
            <TR>
            <TD> {{ sortie.nom }} </TD>
            <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
            <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
            <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
            <td> {{ sortie.etat.libelle }}</td>
            <td> {% if user in sortie.participants %} X {%  endif %}</td>
            <td> {{ sortie.organisateur.username }}</td>
            <td> {{ sortie.campus.nomCampus }}</td>
            {%  if sortie.etat.libelle=="En création" and  sortie.organisateur.username==user.username  %}
                <td> <a href=" {{ path('sortie_add')}}"> Modifier </a>
            {% elseif  sortie.etat.libelle=="Fermé"%}
                <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}

            {%  elseif sortie.etat.libelle!="Annulée" %}
                <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                    {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                    {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                    {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}
                </td>
            {%  elseif sortie.etat.libelle=="Annulée"%}
                <td>
                    {{ sortie.descriptionInfos }}
                </td>

                {% endif %}</TR>
        {%  endfor %}
    </TABLE>
    <div id="largeur"></div>
    <div class="centre">
        <button class="btn-grad btn-grad1" id="creationSortie"> <a href="{{ path('sortie_add') }}">ajouter une sortie</a> </button>
    </div>
    <script>
        let hauteur=screen.height;
        setInterval("ecran()",1000)
        function ecran() {
            if ((screen.width)<600) {
                document.getElementById("creationSortie").style.visibility="hidden";

            } else {document.getElementById("creationSortie").style.visibility="visible";}

        }
    </script>

{%  endblock %}

{% block footer %}

    <div  id="main">
        {{ parent() }}
    </div>
{% endblock %}