{% extends 'base.html.twig' %}


{% block title%} {{ parent() }} | Liste des sorties {%  endblock %}




{% block main %}

    <h2> Filtrer les sorties </h2>

{{ form_start(filtreForm) }}
    {{ form_widget(filtreForm)}}
    <input type="submit" value="Rechercher">
    {{ form_end(filtreForm) }}


    <h3> {{ campusFin }}</h3>
        <h2> Les sorties </h2>
    <TABLE border="1">
        <TR>
            <TH> Nom de la sortie </TH>
            <TH> Date  </TH>
            <TH> Clôture </TH>
            <TH> Nombre d'inscrit </TH>
            <TH> Etat </TH>
            <TH> Actions </TH>
        </TR>

    {%  for sortie in sorties %}
{%  if dateFin > sortie.dateCloture  %}
        <TR>
            <TD> {{ sortie.nom }} </TD>
            <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
            <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
            <td> {{ sortie.nbInscriptionsMax }}</td>
            <td> {{ sortie.etat.libelle }}</td>
            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a><a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>
                </td>

        </TR>
        {% endif %}
        {% endfor %}
    </TABLE>
    {%  endblock %}

