{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/list.css") }}">
{% endblock %}

{% block title%} {{ parent() }} | Liste des sorties {%  endblock %}



{% block nav %}
    <nav>
        <ul> {% if is_granted('ROLE_ADMIN') %}
                <h3>menu admin</h3>
                <li><a href="{{ path('creer_un_admin') }}">INSCRIRE UN UTILISATEUR</a></li>
                <li><a href="{{ path('inactiver_supprimer_utilisateur') }}#">DESACTIVER/SUPPRIMER UN UTILISATEUR</a></li>

                <li><a href="{{ path('gerer_campus') }}">GERER LES CAMPUS</a></li>
                <li><a href="{{ path('gerer_ville') }}">GERER LES VILLES</a></li>
                <li><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
                <hr>
            {% endif %}
            {% if is_granted('ROLE_USER') and user.actif==1 %}
                <h3>menu user</h3>
                <li><a href="{{ path('gerer_mon_profil_utilisateur') }}">mon profil utilisateur</a></li>
                <li>ville</li>
                <li>campus</li>
                <li><a href="{{ path('sorties_list') }}">accueil</a></li>
                <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


{% block main %}
<h3>Date du jour: {{ today|date("d/m/Y") }}</h3>
<h3>Participant: {{ user.prenom }}  {{ user.nom }}</h3>
{% if user.actif==1 %}
    <p>ACTIF</p>
{% else %}
    <p>Compte désactivé (veuillez contacter l'administrateur)</p>
{% endif %}
    {% if user.actif==1 %}
    <h2> Filtrer les sorties </h2>

{{ form_start(filtreForm) }}
        {{ form_widget(filtreForm)}}
<input type="submit" value="Rechercher">
{{ form_end(filtreForm) }}

    <h2> Les sorties </h2>
<table border="1">
    <TR>
        <TH> Nom de la sortie </TH>
        <TH> Date  de la sortie</TH>
        <TH> Clôture </TH>
        <TH> inscrits/places </TH>
        <TH> Etat </TH>
        <th> inscrit </th>
        <th> organisateur </th>
        <th> campus </th>
        <TH> Actions </TH>
    </TR>

    {# On ajoute les filtres ! #}
    {%  for sortie in sorties %}
{% if sortie.organisateur.campus.nomCampus == campus %}
    {% if sortie.dateDebut<=lastDate and sortie.dateDebut>=firstDate %} {# filtre par date #}
        {% if search in sortie.nom %} {# le nom contient bien ce mot #}

            {%  if not Ok %}{# rien n'est coché #}
                    <TR>
                        <TD> {{ sortie.nom }} </TD>
                        <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                        <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                        <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                        <td> {{ sortie.etat.libelle }}</td>
                        <td> {% if user in sortie.participants %} X {%  endif %}</td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td> {{ sortie.organisateur.campus.nomCampus }}</td>

                        {% if sortie.etat.libelle!="Annulée" %}
                            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                                {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}
                            </td>
                        {% else %}
                            <td>
                                MOTIF: {{ sortie.descriptionInfos }}
                            </td>
                        {% endif %}
                    </TR>
                {# si inscrit #}
            {% elseif inscrit and user in sortie.participants %}
                {% if (orga and (user.username == sortie.organisateur.username)) %} {#  et orga #}
                    <TR>
                        <TD> {{ sortie.nom }} </TD>
                        <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                        <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                        <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                        <td> {{ sortie.etat.libelle }}</td>
                        <td> {% if user in sortie.participants %} X {%  endif %}</td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td> {{ sortie.organisateur.campus.nomCampus }}</td>
                        {% if sortie.etat.libelle!="Annulée" %}
                            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                                {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}

                            </td>
                        {% else %}
                            <td>
                                MOTIF: {{ sortie.descriptionInfos }}
                            </td>
                        {% endif %}
                    </TR>
                {% else %}{#  et pas orga #}
                    <TR>
                        <TD> {{ sortie.nom }} </TD>
                        <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                        <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                        <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                        <td> {{ sortie.etat.libelle }}</td>
                        <td> {% if user in sortie.participants %} X {%  endif %}</td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td> {{ sortie.organisateur.campus.nomCampus }}</td>
                        {% if sortie.etat.libelle!="Annulée" %}
                            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                                {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}
                            </td>
                        {% else %}
                            <td>
                                MOTIF: {{ sortie.descriptionInfos }}
                            </td>
                        {% endif %}
                    </TR>

                {% endif %}
            {%  elseif pasInscrit and user not in sortie.participants %} {# on affiche si pas inscrit #}
                {% if (orga and (user.username == sortie.organisateur.username)) %}{#  et orga #}
                    <TR>
                        <TD> {{ sortie.nom }} </TD>
                        <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                        <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                        <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                        <td> {{ sortie.etat.libelle }}</td>
                        <td> {% if user in sortie.participants %} X {%  endif %}</td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td> {{ sortie.organisateur.campus.nomCampus }}</td>
                        {% if sortie.etat.libelle!="Annulée" %}
                            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                                {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}


                            </td>
                        {% else %}
                            <td>
                                MOTIF: {{ sortie.descriptionInfos }}
                            </td>
                        {% endif %}
                    </TR>
                {% else %}{#  et pas orga #}
                    <TR>
                        <TD> {{ sortie.nom }} </TD>
                        <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                        <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                        <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                        <td> {{ sortie.etat.libelle }}</td>
                        <td> {% if user in sortie.participants %} X {%  endif %}</td>
                        <td> {{ sortie.organisateur.username }}</td>
                        <td> {{ sortie.organisateur.campus.nomCampus }}</td>
                        {% if sortie.etat.libelle!="Annulée" %}
                            <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                                {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                                {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                                {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}
                            </td>
                        {% else %}
                            <td>
                                MOTIF: {{ sortie.descriptionInfos }}
                            </td>
                        {% endif %}
                    </TR>
                {% endif %}
            {% elseif (orga and (user.username == sortie.organisateur.username)) %}{#  orga #}
                <TR>
                    <TD> {{ sortie.nom }} </TD>
                    <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                    <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                    <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                    <td> {{ sortie.etat.libelle }}</td>
                    <td> {% if user in sortie.participants %} X {%  endif %}</td>
                    <td> {{ sortie.organisateur.username }}</td>
                    <td> {{ sortie.organisateur.campus.nomCampus }}</td>
                    {% if sortie.etat.libelle!="Annulée" %}
                        <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                            {% if sortie.dateCloture>today and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                            {% if sortie.dateCloture>today and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}
                            {% if sortie.organisateur.username==user.username and sortie.dateDebut>today %}<a href=" {{ path('annuler-sortie',{'id':sortie.id}) }}">Annuler la sortie</a>{% endif %}
                        </td>
                    {% else %}
                        <td>
                            MOTIF: {{ sortie.descriptionInfos }}
                        </td>
                    {% endif %}
                </TR>
            {%  endif %}
        {%  endif %}
    {%  endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
</TABLE>
<div id="largeur"></div>
<button id="creationSortie"> <a href="{{ path('sortie_add') }}">ajouter une sortie</a> </button>
    <script>
        let hauteur=screen.height;
        setInterval("ecran()",1000)
        function ecran() {
            if ((screen.width)<600) {
                document.getElementById("creationSortie").style.visibility="hidden";

            } else {document.getElementById("creationSortie").style.visibility="visible";}

        }
    </script>

{%  endblock %}

{% block footer %}

    <div  id="main">
        {{ parent() }}
    </div>
{% endblock %}