{% extends 'base.html.twig' %}


{% block title%} {{ parent() }} | Liste des sorties {%  endblock %}






{% block nav %}
    <nav>
        <ul>





            {% if is_granted('ROLE_ADMIN') %}
                <h3>menu admin</h3>
                <li><a href="{{ path('creer_un_admin') }}">CREER UN UTILISATEUR</a></li>
                <li><a href="#">GERER UTILISATEUR</a></li>
                <li><a href="{{ path('gerer_campus') }}">GERER LES CAMPUS</a></li>
                <li><a href="#">GERER LES VILLES</a></li>
                <li><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
                <hr>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <h3>menu user</h3>
                <li><a href="{{ path('gerer_mon_profil_utilisateur') }}">mon profil utilisateur</a></li>
                <li>ville</li>
                <li>campus</li>
                <li><a href="{{ path('sorties_list') }}">accueil</a></li>
                <li ><a href="{{ path('logout') }}">SE DECONNECTER</a></li>
            {% endif %}






        </ul>
    </nav>

{% endblock %}



{% block main %}
    <h3>Date du jour: {{ dateJb|date("d/m/Y") }}</h3>
    <h3>Particpant: {{ user.prenom }}  {{ user.nom }}</h3>
    <h2> Filtrer les sorties </h2>

{{ form_start(filtreForm) }}
    {{ form_widget(filtreForm)}}
    <input type="submit" value="Rechercher">
    {{ form_end(filtreForm) }}


    <h3> {{ campusFin }}</h3>
        <h2> Les sorties </h2>
    <TABLE border="1">
        <TR>
            <TH> Nom de la sortie </TH>
            <TH> Date  de la sortie</TH>
            <TH> Clôture </TH>
            <TH> inscrits/places </TH>
            <TH> Etat </TH>
            <th> inscrit </th>
            <th> organisateur </th>
            <TH> Actions </TH>
        </TR>

        {%  for sortie in sorties %}
            {%  if dateJour < sortie.dateCloture and dateClot>sortie.dateCloture %}
                <TR>
                    <TD> {{ sortie.nom }} </TD>
                    <TD> {{ sortie.dateDebut |date('d/m/Y') }} </TD>
                    <TD> {{ sortie.dateCloture |date('d/m/Y')}} </TD>
                    <td> {{ sortie.participants|length}} / {{ sortie.nbInscriptionsMax }}</td>
                    <td> {{ sortie.etat.libelle }}</td>
                    <td> {% if user in sortie.participants %} X {%  endif %}</td>
                    <td> {{ sortie.organisateur.nom }}</td>
                    <td> <a href=" {{ path('sortie_detail',{'id':sortie.id}) }}"> Afficher </a>
                        {% if sortie.dateCloture>dateJb and user not in sortie.participants and sortie.participants|length<sortie.nbInscriptionsMax %}<a href=" {{ path('sinscrire_sortie',{'id':sortie.id}) }}"> S'inscrire </a>{% endif %}
                        {% if sortie.dateCloture>dateJb and user in sortie.participants %}<a href=" {{ path('seDesister_sortie',{'id':sortie.id}) }}">Se Désister</a>{% endif %}

                    </td>
                </TR>
            {% endif %}
        {% endfor %}
    </TABLE>
    {%  endblock %}

